@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    font-family: "Karla", sans-serif;
}

// colors
.cyan {
    color: hsl(179, 62%, 43%);
}
.bright_yellow {
    color: hsl(71, 73%, 54%);
}
.light_gray {
    color: hsl(204, 43%, 93%);
}
.grayish_blue {
    color: hsl(218, 22%, 67%);
}
.white {
    color: white;
}
$cyan: hsl(179, 62%, 43%);
$bright-yellow: hsl(71, 73%, 54%);
$light-gray: hsl(204, 43%, 93%);
$grayish-blue: hsl(218, 22%, 67%);

// media queries mixin
@mixin mq($breakpoint) {
    @media only screen and (min-width: $breakpoint) {
        @content;
    }
}
